body{
    background-color: #202426;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 { font-family: 'Sulphur Point', sans-serif; }

h2, h3, p { font-family: 'Montserrat', sans-serif; }

header{
    display: flex;
    justify-content: center;
}
main{
    width: 80%;
}

.titlebox{
    color: white;
}

.subtitle{
    color: #9da65d;
}

.parrafo{
    color: white;
}